@import "tailwindcss";

/* Aktifkan dark mode berdasarkan class */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatCard {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 25px rgba(14, 165, 233, 0.25);
  }

  50% {
    box-shadow: 0 0 45px rgba(6, 182, 212, 0.45);
  }
}